/**
 * Variables:
 *
 * Colors
 * Spacers
 */


// Colors
// ----------------------------------------------------------

$white:    #FFF;
$gray-100: #F9FAFB;
$gray-200: #E9ECEF;
$gray-300: #ABABAB;
$gray-400: #ADADAD;
$gray-500: #9EA0A5;
$gray-600: #666;
$gray-700: #56575A;
$gray-800: #3A3B3F;
$gray-900: #212529;
$black:    #000;

$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
);

$blue: #1665D8;
$green: #47B881;
$red: #EC4C47;
$yellow: #F7D154;

$colors: (
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
); 

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);


// Spacers
//----------------------------------------------------------

$spacer: 1rem; // 16px
$spacers: (
  0: 0,
  1: $spacer * .25, // 4px
  2: $spacer * .5, // 8px
  3: $spacer * .875, // 14px
  4: $spacer, // 16px
  5: $spacer * 1.125, // 18px
  6: $spacer * 1.5, // 24px
  7: $spacer * 2 // 32px
  8: $spacer * 2.5 // 40px
  9: $spacer * 3 // 48px
  10: $spacer * 3.5 // 56px
  11: $spacer * 4 // 64px
  12  : $spacer * 4.5 // 72px
);